.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(#000, .3);
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 0;
  }
  &__logo {
    width: 18.9rem;
    height: 6.4rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    &-link {
      font-weight: 600;
      font-size: 2rem;
      color: var(--light);
    }
  }

  &__link {
    padding: 0 3.5rem;
  }
}

.burger {
  @include burger;
  display: none;
}
