.QandA {
  min-height: 100vh;
  &__inner {
    padding: 5rem 0;
    min-height: 100vh;
    max-width: 78rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    text-align: center;
  }

  &__img {
    width: 20rem;
    margin-bottom: 4.3rem;
  }

  &__area {
    &-outer {
      display: flex;
      flex-direction: column;
      text-align: left;
      background: var(--light);
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5rem;
      padding: 2rem;
      width: 100%;
      margin-bottom: 15px;
      color: var(--dark);
    }

    position: relative;
    width: 100%;
    height: 20.8rem;

    textarea {
      width: 100%;
      height: inherit;
      resize: none;
      background: #f1f1f1;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5rem;
      border: unset;
      padding: 2rem 3.5rem;
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 130%;

      &::placeholder {
        opacity: 0.3;
      }
    }

    &-btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 1.9rem;

    &-img {
      border-radius: 50%;
      max-width: unset;
      width: 7rem;
      height: 7rem;
    }

    &-suptitle {
      opacity: 0.3;
      font-weight: 500;
      margin-bottom: 6px;
    }

    &-title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 130%;
    }
  }

  &__btn {
    width: 100%;
    margin-bottom: 15px;
  }

  &__send {
    margin-top: .8rem;
  }

  &__own {
    margin-top: 5rem;
  }

  &__sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-img {
      margin-bottom: 3rem;
      width: 27rem;
      height: 27rem
    }

    &-link {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 130%;
      color: var(--light);
    }
  }

  &__right {
    &-outer {
      display: flex;
      align-items: center;
      gap: 10px;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      bottom: 15px;
      color: var(--light);
    }

  }
}
