.safe-more {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 10rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 120%;
    max-width: 78rem;
    br {
      display: none;
    }
  }

  &__text {
    margin-bottom: 4rem;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    max-width: 78rem;
  }

  &__card {
    &-outer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
    }

    box-shadow: 0px 2.5rem 2.5rem rgba(103, 0, 120, 0.13);
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    width: 28rem;

    &:nth-child(1) {
      img {
        transform: translate(2rem, 0);
      }
    }

    &-img {
      &-outer {
        background-image: url(../img/card-img-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      width: auto;
      height: 18.5rem;
      object-fit: contain;
    }

    &-title {
      font-weight: 600;
      font-size: 2.6rem;
      margin-bottom: 1.5rem;
    }

    &-subtitle {
       max-width: 19.4rem;
       font-weight: 500;
       font-size: 1.6rem;
       color: #4D4D4D;
       min-height: 6.6rem;

       margin-bottom: 2.5rem;
    }

    &-link {
      width: 100%;
      max-width: 18rem;
    }
  }
}
