<section class="faq bg-grad" id="faq">
  <div class="container">
    <div class="faq__inner">
      <img class="faq__img" loading="lazy" src="img/question.svg" width="193" height="324" alt="img">
      <h3 class="faq__title title">F.A.Q.</h3>
      <ul class="faq__list">
        <li class="faq__list-item">
          <button class="faq__list-btn">
            Where can I use it?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              You can use it absolutely everywhere! Also, translation to 50+ languages is coming soon.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            How can I use it?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              1) Navigate to the SHARE tab and then tap on the button that says
              copy link.
            </div>
            <div class="faq__list-content-item">
              2) Then tap on the button labeled Share, which will redirect to
              Instagram.
            </div>
            <div class="faq__list-content-item">
              3) Now tap on the
              <img
                class="img"
                loading="lazy"
                src="img/faq-btn.png"
                width="30"
                height="30"
                alt="img"
              />
              button. <br/> Select
              <img
                class="img"
                loading="lazy"
                src="img/faq-link.png"
                width="52"
                height="26"
                alt="img"
              />
            </div>
            <div class="faq__list-content-item">
              4) Insert the link and then place it in «Story» section.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            Where can I find my dialogues?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              All your chats are placed in the "INBOX" section.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            SOS! I've lost all my dialogues!
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              After deleted the profile or the app on your device, all chats will disappear as well.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            Is a real account on Instagram needed?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              Yes, it is! No worries, your personal data/password are not required.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            Would it be possible to use several profiles?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              Now the app allows just 1 profile. Remember that after deleted the profile or the app on your device, all chats will disappear as well.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            Can I return my personal profile?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              Unfortunately, no. After you deleted the profile, you will no longer use it.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            How to cancel premium subscription of the app?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              There are two options: cancel subscription through “settings” section of the phone, choose a lower type of subscription.
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            How to get more clues?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              We will show some extra clues soon to find out your messages’ sender easier! Don't miss it!
            </div>
          </div>
        </li>
        <li class="faq__list-item">
          <button class="faq__list-btn">
            How to keep away from abuse?
            <img
              class="img"
              loading="lazy"
              src="img/acc-icon.svg"
              width="23"
              height="23"
              alt="img"
            />
          </button>
          <div class="faq__list-content">
            <div class="faq__list-content-item">
              In every chat, you have “report” button. Click on it if you want to block someone or just get help from our safety department.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
