<section class="review bg-grad">
  <div class="container">
    <div class="review__inner">
      <img
        class="review__img"
        loading="lazy"
        src="img/love.svg"
        width="280"
        height="234"
        alt="img"
      />
      <h3 class="review__title title">We love our community!</h3>
      <div class="review__card-outer">
        <div class="review__card mob">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">Vanessa199</div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            We think that anonymity should be a friendly and protected space
            where you can safely show yourself.
          </div>
        </div>
        <div class="review__card mob">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">Vanessa199</div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            We think that anonymity should be a friendly and protected space
            where you can safely show yourself.
          </div>
        </div>
        <div class="review__card mob">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">
                Vanessa199
              </div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            Youths have not found a platform on which they can talk about their
            emotions freely and without punishment yet!<br /><br />
            That’s why SayMe created this independent community xD
          </div>
        </div>
        <div class="review__card">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">Vanessa199</div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            We think that anonymity should be a friendly and protected space
            where you can safely show yourself.
          </div>
        </div>
        <div class="review__card">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">Vanessa199</div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            We think that anonymity should be a friendly and protected space
            where you can safely show yourself.
          </div>
        </div>
        <div class="review__card">
          <div class="review__user">
            <img
              class="review__user-img"
              loading="lazy"
              src="img/user.png"
              width="84"
              height="84"
              alt="img"
            />
            <div>
              <div class="review__user-name">Vanessa199</div>
              <div class="review__user-date">10 august 2022</div>
            </div>
          </div>
          <div class="review__user-text">
            We think that anonymity should be a friendly and protected space
            where you can safely show yourself.
          </div>
        </div>
      </div>
      <a href="#" class="review__link btn btn-rect btn-dark">
        See More Feedbacks
      </a>
    </div>
  </div>
</section>
