<section class="safe-more">
  <div class="container">
    <div class="safe-more__inner">
      <h3 class="safe-more__title">Keep your safety on <br/> SayMe</h3>
      <p class="safe-more__text">
        The SayMe platform is all about different ways to show yourself! You can
        be both childish and serious, fearless and fearful, real and fake. But
        always remember that some things are not OK even on this app: we mean
        rudeness, bad manners or bullying of other users.<br/><br/>
         Only working as a
        team, we can prevent bullying, so check out a short info of how is it
        working on our app: the ways SayMe creators provide high level of
        security and how to act while facing bad attitude from people.
      </p>
      <div class="safe-more__card-outer">
        <div class="safe-more__card">
          <div class="safe-more__card-img-outer">
            <img
              class="safe-more__card-img"
              loading="lazy"
              src="img/card-user.png"
              width="205"
              height="185"
              alt="img"
            />
          </div>
          <div class="safe-more__card-title">Users</div>
          <div class="safe-more__card-subtitle">
            Useful tips on how to stay safe on SayMe
          </div>
          <a href="forUsers.html" class="safe-more__card-link btn btn-rect btn-grad">
            Learn More
          </a>
        </div>
        <div class="safe-more__card">
          <div class="safe-more__card-img-outer">
            <img
              class="safe-more__card-img"
              loading="lazy"
              src="img/parents.png"
              width="205"
              height="185"
              alt="img"
            />
          </div>
          <div class="safe-more__card-title">Parents</div>
          <div class="safe-more__card-subtitle">
            How to provide high level of security for your kid while using SayMe
          </div>
          <a href="forParents.html" class="safe-more__card-link btn btn-rect btn-grad">
            Learn More
          </a>
        </div>
        <div class="safe-more__card">
          <div class="safe-more__card-img-outer">
            <img
              class="safe-more__card-img"
              loading="lazy"
              src="img/safety.png"
              width="205"
              height="185"
              alt="img"
            />
          </div>
          <div class="safe-more__card-title">Safety Pros</div>
          <div class="safe-more__card-subtitle">
            Resources for rights protection authorities
          </div>
          <a href="forPros.html" class="safe-more__card-link btn btn-rect btn-grad">
            Learn More
          </a>
        </div>
        <div class="safe-more__card">
          <div class="safe-more__card-img-outer">
            <img
              class="safe-more__card-img"
              loading="lazy"
              src="img/educators.png"
              width="205"
              height="185"
              alt="img"
            />
          </div>
          <div class="safe-more__card-title">Educators</div>
          <div class="safe-more__card-subtitle">
            Professors as well as managers
          </div>
          <a href="forEducators.html" class="safe-more__card-link btn btn-rect btn-grad">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
