<section class="safe" id="safe">
  <div class="container">
    <div class="safe__inner">
      <img
        class="safe__img"
        loading="lazy"
        src="img/safe.png"
        width="510"
        height="533"
        alt="img"
      />
      <div class="safe__info">
        <h3 class="safe__title title">Staying safe on SayMe</h3>
        <p class="safe__subtitle">
          <span>Anonymity</span> is always where the <span>Security</span> is
        </p>
        <p class="safe__text">
          To provide protection for our clients, we operate on premium AI
          content moderation.<br /><br />
          Also, our platform works with data of a deep learning as well as
          comparing signs by rule to keep bad comments off the net. This
          algorithm also studies emojis, and then the web scraper examines
          specific situations in which they appear. Be sure that our platform is
          always trendy and manages the jargon perfectly to save you from
          unpleasant comments.<br /><br />
          You are welcome to contact us on the questions of «security» via
          email.
        </p>
        <a href="safety-center.html" class="safe__link btn btn-rect btn-grad">
          Safety Center
        </a>
      </div>
    </div>
  </div>
</section>
