<section class="vision" id="vision">
  <div class="container">
    <div class="vision__inner">
      <img class="vision__img" loading="lazy" src="img/new-vision.png" width="510" height="533" alt="img">
      <div class="vision__info">
        <h3 class="vision__title title">
          It’s a new vision of <br/>anonymity
        </h3>
        <p class="vision__text">
          We think that anonymity should be a friendly and protected space where you can safely show yourself.<br/><br/>
Youths have not found a platform on which they can talk about their emotions freely and without punishment yet.<br/><br/>
That’s why SayMe created this independent community for teenagers.
        </p>
        <a href="#" class="vision__link btn btn-rect btn-grad">
          Get SayMe
        </a>
      </div>
    </div>
  </div>
</section>
